@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);
@media screen and (max-width: 768px) {
  header {
    margin-top: 5%; }
 }

.japanese {
  font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', serif; }

.tape1 :before {
  top: -16%;
  left: 20%; }
  @media screen and (min-width: 768px) {
    .tape1 :before {
      content: url('/assets/tape2.png');
      position: absolute;
      top: -10%;
      left: 10%; } }

.tape2 :before {
  left: 30%; }
  @media screen and (min-width: 768px) {
    .tape2 :before {
      content: url('/assets/tape2.png');
      position: absolute;
      top: -10%;
      left: 10%; } }

.tape3 :before {
  top: -16%;
  left: 15%; }
  @media screen and (min-width: 768px) {
    .tape3 :before {
      content: url('/assets/tape2.png');
      position: absolute;
      top: -10%;
      left: 10%; } }

.tape4 :before {
  left: 32%; }
  @media screen and (min-width: 768px) {
    .tape4 :before {
      content: url('/assets/tape2.png');
      position: absolute;
      top: -10%;
      left: 10%; } }

.mail {
  font-size: 0.6em; }
  .mail img {
    width: 14%; }

.icon img {
  max-height: 8%;
  width: auto; }

.patrick p {
  text-align: center;
  margin: 5% 0;
  line-height: 150%;
  font-family: 'Patrick Hand', cursive;
  font-size: 5em; }

.contacts li {
  margin: 5% 0;
  line-height: 150%;
  font-family: 'Patrick Hand', cursive;
  font-size: 2em; }
  .contacts li :link, .contacts li :visited {
    color: #851; }
  .contacts li :hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

#slider {
  background: #fff no-repeat 50% 50%; }

#slider img {
  display: none; }

#logo {
  margin-top: 30px; }

#top-right {
  z-index: 2;
  position: absolute;
  top: 0%;
  right: 0%;
  -webkit-transform: rotate(-20deg);
  /* 回転 */
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg); }

.flexslider {
  -webkit-transform: rotate(0deg);
  /* 回転 */
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 0; }
  @media screen and (min-width: 768px) {
    .flexslider :before {
      content: url('/assets/tape2.png');
      position: absolute;
      top: -10%;
      left: 10%; } }

#no-border {
  border: 0; }

body {
  background: url('/assets/retina_wood.png'); }

div.paper {
  margin: 40px 0;
  padding: 40px 40px;
  position: relative;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2); }

section.item {
  margin: 10% 0; }

@media screen and (min-width: 768px) {
  .item-image-odd img:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

  .item-image-even img:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

  .item-image-odd {
    -webkit-transform: rotate(1deg);
    /* 回転 */
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg); }

  .item-image-even {
    -webkit-transform: rotate(-1deg);
    /* 回転 */
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg); }

  .surround-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

  .drop-shadow {
    position: relative; }
    .drop-shadow:before, .drop-shadow:after {
      content: "";
      position: absolute;
      z-index: -2;
      bottom: 15px;
      left: 10px;
      width: 47%;
      height: 20%;
      -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
      box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
      transform: rotate(-1deg); }
    .drop-shadow:after {
      right: 10px;
      left: auto;
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      -o-transform: rotate(1deg);
      transform: rotate(1deg); }
 }
