@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);
@mixin ease {
    -webkit-transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -o-transition: all .1s ease-in-out;
   transition: all .1s ease-in-out;
}

@mixin tape{
  @media screen and (min-width: 768px) {
    content: url('/assets/tape2.png');
    position: absolute;
    top: -10%;
    left: 10%;
  }
}

@mixin scale{
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}


@media screen and (max-width: 768px) {
  header{
  margin-top: 5%;
  }
}


.japanese{
font-family:'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',serif;
}


.tape1{
  :before {
  @include tape;
  top: -16%;
left: 20%;
  }
}

.tape2{
  :before {
  @include tape;
left: 30%;
  }
}

.tape3{
  :before {
  @include tape;
    top: -16%;
left: 15%;
  }
}

.tape4{
  :before {
  @include tape;
  left: 32%
  }
}


.mail{
font-size: 0.6em;
img{
width: 14%;
}
}


.icon img{
max-height: 8%;
width: auto;
}

.patrick p{
text-align: center;
margin: 5% 0;
line-height: 150%;
font-family: 'Patrick Hand', cursive;
font-size: 5em;
}

.contacts li{
margin: 5% 0;
line-height: 150%;
font-family: 'Patrick Hand', cursive;
font-size: 2em;

:link, :visited {
color: #851;
}

  :hover{
  @include ease;
  -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1);

  }
}



#slider{
     background: #fff  no-repeat 50% 50%;
}
#slider img { display:none; }



#logo {
  margin-top: 30px;
}


#top-right{
z-index: 2;
position: absolute;
top: 0%;
right: 0%;
  -webkit-transform: rotate(-20deg); /* 回転 */
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.flexslider{
  -webkit-transform: rotate(0deg); /* 回転 */
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 0;
  :before {
  @include tape;
}
}

#no-border{
  border: 0;
}

body {
  background: url('/assets/retina_wood.png');
}

div.paper {
  margin: 40px 0;
  padding: 40px 40px;
  position: relative;
  -webkit-box-shadow:0 -1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 -1px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 -1px 2px rgba(0, 0, 0, 0.2);
}

section.item {
margin: 10% 0;


}



@media screen and (min-width: 768px) {

.item-image-odd img:hover{
@include ease;
@include scale;
}

.item-image-even img:hover{
@include ease;
@include scale;
}



.item-image-odd{
  -webkit-transform: rotate(1deg); /* 回転 */
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  }

.item-image-even{
  -webkit-transform: rotate(-1deg); /* 回転 */
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}



.surround-shadow{
     -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
     -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
     box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
}


.drop-shadow {
   position:relative;
   &:before, &:after {
   content:"";
   position:absolute;
   z-index: -2;
   bottom:15px;
   left:10px;
   width:47%;
   height:20%;
   //max-width:300px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-1deg);
   -moz-transform:rotate(-1deg);
   -o-transform:rotate(-1deg);
   transform:rotate(-1deg);
   }
   
   &:after{
   right:10px;
   left:auto;
   -webkit-transform:rotate(1deg);
   -moz-transform:rotate(1deg);
   -o-transform:rotate(1deg);
   transform:rotate(1deg);

 }
}

}
